
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://www.drewgreenwell.com/content/metrojs.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <style>
    .navbar-inverse{
        background-color: rgb(120, 18, 17);
        border-bottom-color: rgb(120, 18, 17);
        background-image:none;
    }
    .body{
      
    }
   .navbar-inverse .navbar-brand {
      color: white;
    }
    </style>
</head>
<body ng-app="kreativaApp">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">СЕ ГРИЖИМЕ...</a>
        </div>
      </div>
    </div>

        
    <div class="row">
        <div class="red live-tile" data-mode="flip" data-delay="2000" ng-repeat="cat in categories" ng-click="toSub(cat)" myTile>
            <div>
                <img class="full" src="http://t1.gstatic.com/images?q=tbn:ANd9GcSrBWhFb690YaPHJmm2ksq83TI6kaos64p86Qe1BzwghQvjsZ_L" />
            </div>
             <div>
                <p class="full">{{cat.title}}</p>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="http://www.drewgreenwell.com/scripts/metrojs.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var config = null;
        angular.module('ui.directives', []).directive('myFrame',
        function () {
            return {
                restrict: 'E',
                require: '?ngModel',
                replace: true,
                transclude: true,
                template: '<iframe frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:30px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"></iframe>',
                link: function (scope, element, attrs) {
                    element.attr('src', scope.$eval(attrs.iframeSrc));
                }
            };
        });
        angular.module('ui.directives', []).directive('myTile', [function () {
            return {
                restrict: 'A',
                link: function (scope, elm, iAttrs) {
                    $(elm).liveTile();
                }
            };
        }])
        angular.module('kreativaApp', ['ui.directives']).
        config(function($routeProvider) {
                $routeProvider.
                    when('/', {templateUrl:'top.html',  controller: 'topCategoryCtrl'}).
                    when('/sub/:sub', {templateUrl:'sub.html', controller: 'subCategoryCtrl'}).
                    when('/sub/:sub/page/:page', {templateUrl:'detail.html', controller:'webPageCtrl'}).
                    otherwise({redirectTo:'/'});
        });
        var setupTiles = function(){
            //$(".live-tile").liveTile();
        }
        function topCategoryCtrl($scope, $http, $location){
            
            if(config===null){
                $http.get('config.json').success(function(response, status){
                    config = response;
                    $scope.categories = config.sections[0].elements;
                    setupTiles();
                }).error(function(status, response){
                    alert(status);
                });
            }else{
                $scope.categories = config.sections[0].elements;
                setupTiles();
            }
            $scope.toSub=function(cat){
                $location.path( "/sub/"+$scope.categories.indexOf(cat));
            }
        };
        function subCategoryCtrl($scope, $http, $routeParams, $location){
            $scope.cat = $routeParams.sub;
            var cat = $scope.cat
            if(config===null){
                $http.get('config.json').success(function(response, status){
                    config = response;
                    $scope.categories = config.sections[0].elements[parseInt(cat)].sections[0].elements;
                    setupTiles();
                }).error(function(status, response){
                    alert(status);
                });
            }else{
                $scope.categories = config.sections[0].elements[parseInt(cat)].sections[0].elements;
                setupTiles();
            }
            $scope.toSub=function(cat){
                $location.path( "/sub/"+$scope.cat.toString()+'/page/'+$scope.categories.indexOf(cat).toString());
            }
        };
        function webPageCtrl($scope, $http, $routeParams, $location){
            $scope.cat = $routeParams.sub
            $scope.pageIndex = $routeParams.page
            $scope.page = config.sections[0].elements[parseInt($scope.cat)].sections[0].elements[parseInt($scope.pageIndex)];
        };
    </script>
</body>
</html>

