<div id="content" class="content" data-role="content" >
    <div class="tiles blue tile-group">
        <!-- Red Flip Tile that flips every 4 seconds -->
        <div class="red live-tile" data-mode="flip" data-delay="4000" ng-repeat="cat in categories" ng-click="toSub(cat)">
            <div>
                <p class="full">{{cat.caption}}</p>
            </div>
            <div ng-if="cat.image_url">
                <img class="full" ng-src="{{cat.image_url}}" />
            </div>
        </div>
    </div>
    <script>$(".live-tile, .flip-list").liveTile();</script>
</div>