<div data-role="header" data-theme="b">
    <h1>СЕ ГРИЖИМЕ...</h1>
</div>
<div data-role="content" >
    <div class="tiles blue tile-group">
        <!-- Red Flip Tile that flips every 4 seconds -->
        <myTile class="red live-tile" data-mode="flip" data-delay="2000" ng-repeat="cat in categories" ng-click="toSub(cat)">
            <div>
                <img class="full" src="http://t1.gstatic.com/images?q=tbn:ANd9GcSrBWhFb690YaPHJmm2ksq83TI6kaos64p86Qe1BzwghQvjsZ_L" />
            </div>
             <div>
                <p class="full">{{cat.title}}</p>
            </div>
        </myTile>
    </div>
    <script>$(".live-tile, .flip-list").liveTile();</script>
</div>